<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Deletion</title>
</head>

<body>
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete the following environmental data record?</p>
    <p>Date: {{ data_record.date_entered }}</p>
    <p>Energy Source: {{ data_record.energy_source }}</p>
    <!-- Add more fields to display additional data -->

    <form action="{% url 'delete_data' data_record.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
</body>

</html>
