{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3">
                    <h5>Transportation</h5>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <!-- Input field for transportation type -->
                    <div class="form-group text" style="margin-bottom: 20px;">
                        <label for="mode">Mode:</label>
                        <select name="mode" id="mode" class="form-control" required>
                            <option value="car">Car</option>
                            <option value="bus">Bus</option>
                            <option value="train">Train</option>
                            <option value="plane">Plane</option>
                            <option value="bike">Bike</option>
                            <option value="walk">Walk</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <!-- Input field for distance -->
                    <div class="form-group text" style="margin-bottom: 20px;">
                        <label for="distance">Distance (km):</label>
                        <input type="number" name="distance" id="distance" class="form-control" required>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
</div>
{% endblock %}
```
