<!-- register.html -->
{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4">
        <div class="card mt-5 bg-light">
            <div class="card-body">
                <div class="card-title text-center mb-4">
                    <a>
                        <img src="{% static 'img/logo1.png' %}" alt="Brand Logo" class="logo me-2" style="max-height: 50px; border-radius: 80%;">
                    </a>
                </div>

                <!-- Form -->
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <!-- Username field -->
                    <div class="form-group" style="margin-bottom: 20px;">
                        <input
                            type="text"
                            name="username"
                            placeholder="Username"
                            id="usernameField"
                            class="form-control form-control-sm"
                            autocomplete="on"
                        />
                    </div>
                    <!-- Email field -->
                    <div class="form-group" style="margin-bottom: 20px;">
                        <input
                            type="email"
                            name="email"
                            placeholder="Email"
                            id="emailField"
                            class="form-control form-control-sm"
                            autocomplete="on"
                        />
                    </div>
                    <!-- Password field -->
                    <div class="form-group" style="margin-bottom: 20px;">
                        <input
                            type="password"
                            name="password"
                            placeholder="Password"
                            id="passwordField"
                            class="form-control form-control-sm"
                        />
                        <small style='display:block; cursor:pointer;' class="text-end py-3 showPasswordToggle">SHOW</small>
                    </div>
                    <!-- Register and back button -->
                    <div class="d-flex justify-content-between">
                        <button type="submit" value="Register" class="btn btn-block btn-bd-primary submit-btn">Register</button>
                        <button type="button" onclick="window.location.href = '{% url 'landing' %}'" class="btn btn-block btn-bd-primary">Back</button>
                    </div>
                </form>
                <!-- Message for existing users -->
                <div class="text-center py-3">
                    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'script/register.js' %}"></script>

{% endblock content %}
